*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #f5f5f5; }

::-webkit-scrollbar {
  width: 15px;
  background-color: #f5f5f5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e4505d; }

body {
  font-family: Helvetica;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right top, #f46d4c, #f16550, #ed5e55, #e95759, #e4505d);
  background: cover no-repeat;
  overflow-x: hidden; }

@font-face {
  font-family: Helvetica-Light;
  src: url(../HelveticaNeue\Light.ttf); }

@font-face {
  font-family: Helvetica-Medium;
  src: url(../HelveticaNeue\Medium.ttf); }

@font-face {
  font-family: Helvetica-Bold;
  src: url(../Helvetica\Neu\Bold.ttf); }

.header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .header__box {
    display: flex;
    width: 60%; }
    @media only screen and (max-width: 1080px) {
      .header__box {
        flex-direction: column; } }
  .header__button {
    width: 3rem;
    height: 3rem;
    background: none;
    text-decoration: none;
    border: none; }
    .header__button__svg {
      width: 100%;
      height: 100%; }

.header__select {
  background: #fff;
  border: none;
  min-width: 226px;
  width: 15rem;
  border-radius: 10px;
  padding: 15px 40px 15px 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  background-image: url(http://domanart.pl/dema/css-forms/select-arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  color: #ccc;
  font-size: inherit; }
  @media only screen and (max-width: 1080px) {
    .header__select {
      margin: 2rem 0; } }

.search {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 7rem 0 0;
  min-width: 450px; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-right: -3.25rem;
    padding: 15px 40px 15px 10px; }
    .search__input:focus {
      outline: none;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
    .search__input:focus + .search__button {
      background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      -webkit-transform: translateY(2px);
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #ccc; }

.content__wrapper {
  margin: 0 auto;
  min-height: 75vh;
  width: 80%;
  background: #f4f2f2;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1); }
  .content__wrapper__article {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0 0 0;
    margin-left: 2rem;
    color: #545454; }
  .content__wrapper__error {
    width: 100%;
    text-align: center;
    display: none;
    font-size: 3rem;
    font-family: Helvetica;
    font-weight: 600;
    color: #545454; }
    .content__wrapper__error-show {
      display: block; }

.heading--1 {
  font-size: 2rem;
  font-family: Helvetica;
  font-weight: 600;
  color: #545454; }
  .heading--1-hide {
    display: none; }

.city {
  color: #e4505d; }

.likes {
  position: absolute;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #e4505d;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  top: 45%;
  right: 5%; }
  .likes__img {
    height: 1.5rem;
    width: 1.5rem; }

.list {
  font-family: "Helvetica";
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 6rem;
  justify-items: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 4rem; }
  .list__item {
    width: 370px;
    height: 361px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    position: relative; }
    .list__item:hover {
      transform: translateY(-5px); }
    .list__item__box {
      height: 180px;
      width: 370px;
      border-radius: 20px; }
      .list__item__box__img {
        height: 100%;
        border-radius: 12px;
        width: 100%; }

.event__info {
  padding: 1rem 0.5rem 0 0.5rem; }
  .event__info__date {
    font-weight: 200; }
  .event__info__heading {
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 600; }
